@{
    ViewData["Title"] = "Home Page";
}
<style type="text/css">
    body {
        background-color: bisque;
    }
</style>

    <div class="text-center" >
    <h1 class="display-4" > Witamy, w Student's Announcement!</h1>
    <p > największej platformie z ogłoszeniami w Polsce</p >
    </div >
